<h1>All Questions</h1>
<!-- <% %>ðŸ‘ˆðŸ» if we dont have any output we use this tag  -->
<!-- <%#=  %> ðŸ‘ˆðŸ» To have an output we use this tag  -->

<% @questions.each do |question|%>
<div>
<h2><%= link_to(question.title, question_path(question.id) )%></h2>
<p> <%= question.body %></p>
<hr>
</div>
<% end %>